@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --navbar-height: 5.2083vw !important;
    --background-color: #252D3A !important;
    --smallCard-color: #3B424E !important;
    --hover-color: #191F28 !important;
    --bottom-color: #424C5D !important;
    --font-color: #FFFFFF !important;
    --drop-button-color: #535D6D !important;
    --nav-font-size: 0.911vw !important;
    --nav-button-paddingHorizontal: 1.0742vw !important;
    --nav-button-paddingVertical:  1.0416vw !important;
    --noto-sansfont: 'Noto Sans', sans-serif;
    --roboto-sansfont: 'Roboto', sans-serif;
    --fontDark-color: #92969D !important;
}


.chartTable{
  transition: all 250ms ease-in;
  flex:1;
}
.chartTable:hover{
  transition: all 250ms ease-in;
 
}
.chartTable > h3{
    font-family: var(--noto-sansfont);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: var(--font-color);
    margin-bottom: 9px;
    margin-top: 17px;
}

/*** Table Styles **/
.chartTable__fill {
  background-color: #515761;
  border-radius:6px;
  border-collapse: collapse;
  height: 42px;
  margin: auto;
  padding:1px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  

}
 
.chart__left {
    color:#344055;;
    background:#344055;
    font-size:12px;
    font-weight: bold;
    line-height: 18px;
    color: #B0B8C5;
    /* padding: 1vw 13vw; */
    text-align:left;
    vertical-align:middle;
    font-family: Roboto, sans-serif;
    text-align:center;
    
}

.chart__left > h3{
    font-family: var(--noto-sansfont);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: var(--font-color);
    padding: 4px 0px;
}
.chart__left > h4{
    font-family: var(--noto-sansfont);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: var(--fontDark-color);
}

.chart__left:first-child {
  border-top-left-radius:3px;
  border-left: 1px solid #515761;
}
 
.chart__left:last-child {
  border-top-right-radius:3px;
  border-right: 1px solid #515761;
}
  
.chart__hover > tr {
  border-top: 1px solid #515761;
  border-bottom: 1px solid #515761;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  justify-content:space-between;
  align-items: center;
  

 
}
    
.chartText__left {
  
    background: var(--background-color);
    font-size:14px;
    font-weight: 500;
    line-height: 19px;
    color: var(--font-color);
    padding:1vw 13vw;
    text-align:center;
    vertical-align:middle;
    font-family: Roboto, sans-serif;
    justify-content: center;
    /* background:#252D3A;
    padding: 12px 10px;
    text-align:left;
    vertical-align:middle;
    font-weight:normal;
    font-style: normal;
    line-height: 20px;
    font-family: Roboto;
    font-size:14px;
    color: var(--font-color);
    justify-content:center; */
    
}


  