@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --navbar-height: 5.2083vw !important;
    --background-color: #252D3A !important;
    --smallCard-color: #3B424E !important;
    --hover-color: #191F28 !important;
    --bottom-color: #424C5D !important;
    --font-color: #FFFFFF !important;
    --drop-button-color: #535D6D !important;
    --nav-font-size: 0.911vw !important;
    --nav-button-paddingHorizontal: 1.0742vw !important;
    --nav-button-paddingVertical:  1.0416vw !important;
    --noto-sansfont: 'Noto Sans', sans-serif;
    --roboto-sansfont: 'Roboto', sans-serif;
    --fontDark-color: #92969D !important;
}


.chartOneLeft{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    width: 924px;
    
    padding: 24px;
    border: 1px solid #424C5D;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0500437);
    border-radius: 8px;
}


