@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --navbar-height: 5.2083vw !important;
    --background-color: #252D3A !important;
    --smallCard-color: #3B424E !important;
    --hover-color: #191F28 !important;
    --bottom-color: #424C5D !important;
    --font-color: #FFFFFF !important;
    --drop-button-color: #535D6D !important;
    --nav-font-size: 0.911vw !important;
    --nav-button-paddingHorizontal: 1.0742vw !important;
    --nav-button-paddingVertical:  1.0416vw !important;
    --noto-sansfont: 'Noto Sans', sans-serif;
    --roboto-sansfont: 'Roboto', sans-serif;
    --fontDark-color: #92969D !important;
}

.mediumCard {
    width: 213px;
    height: 140px;
    background-color: var(--background-color);
    border: 1px solid #424C5D;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0500437);
    border-radius: 8px;
   
    margin-left: 12px;
    margin-right: 12px; 
}
.mediumCard:hover {
    transition: all 200ms ease-in; 
    transform: scale(1.06);
    border: 2px solid #34C5F3
}

.mediumCard__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 24px;
}


.mediumCard__top{
    font-family: var(--noto-sansfont);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.15px;
    color: var(--font-color);

}

.mediumCard__middle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

.mediumCard__middle > h2{
    font-family: 'Noto Sans Display', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 46px;
    letter-spacing: 0.25px; 
    color: var(--font-color);
}

.mediumCard__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.mediumCard__bottom > p{
    font-family: var(--noto-sansfont);
    color: #B0B8C5;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
}
.mediumCard__bottom > h4{
    font-family: var(--noto-sansfont);
    color: var(--font-color);
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
}

