@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --navbar-height: 5.2083vw !important;
    --background-color: #252D3A !important;
    --smallCard-color: #3B424E !important;
    --hover-color: #191F28 !important;
    --bottom-color: #424C5D !important;
    --font-color: #FFFFFF !important;
    --drop-button-color: #535D6D !important;
    --nav-font-size: 0.911vw !important;
    --nav-button-paddingHorizontal: 1.0742vw !important;
    --nav-button-paddingVertical:  1.0416vw !important;
    --noto-sansfont: 'Noto Sans', sans-serif;
    --roboto-sansfont: 'Roboto', sans-serif;
    --fontDark-color: #92969D !important;
}

.prediction{
    border-radius: 8px; 
    width: 923px;
    height: 484px;
    background: #252D3A;
    /* Border Color/Dark */
    border: 1px solid #424C5D;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0500437);
    border-radius: 8px;

    padding-top:24px;
    padding-bottom: 24px;
}
.predictionHeader__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 17px;
    padding-left: 12px;
    padding-right: 12px;
}

.predictionHeader__containerLeft {
    display: flex;
    justify-content: center;
    align-items: center;

}
.predictionHeader__containerLeft > p{
    display: flex;
    font-family: var(--noto-sansfont);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    
    letter-spacing: 0.15px;
    
    color: var(--font-color)
}

.predictionHeader__containerRight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 24px;
}
.predictionHeader__rightItem {
   display: flex;
   flex-direction:row;
   align-items: center;
} 

.predictionHeader__rightItem > input {
    display: flex;
    margin-right: 7px;
    margin-left: 14px;
}

.predictionHeader__rightItem >h3{
   display: flex;
   flex-direction:row;
   align-items: center;
   font-family: var(--noto-sansfont);
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 19px;
   letter-spacing: 0.25px;
   color: var(--font-color);
}   



.prediction__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll; 
    height: 410px;
} 

.prediction__container::-webkit-scrollbar { 
    width: 3px;
}
  
.prediction__container::-webkit-scrollbar-track {
    border-radius: 50px;
}
  
.prediction__container::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #676C76;
}
