@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --navbar-height: 5.2083vw !important;
    --background-color: #252D3A !important;
    --smallCard-color: #3B424E !important;
    --hover-color: #191F28 !important;
    --bottom-color: #424C5D !important;
    --font-color: #FFFFFF !important;
    --drop-button-color: #535D6D !important;
    --nav-font-size: 0.911vw !important;
    --nav-button-paddingHorizontal: 1.0742vw !important;
    --nav-button-paddingVertical:  1.0416vw !important;
    --noto-sansfont: 'Noto Sans', sans-serif;
    --roboto-sansfont: 'Roboto', sans-serif;
    --fontDark-color: #92969D !important;
}

.infoCard {
    background-color: var(--hover-color);
    display: flex;
    /* align-content: center; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
 
}
.infoCard__contentLeft {
    display: flex;
    margin: 24px 0px 24px 12px;
    background-color: var(--background-color);
    border: 2px solid #424C5D;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px 12px;

}
.infoCard__contentRight {
    display: flex;
    background-color: yellow;
    margin: 24px 12px 24px 12px;
    padding: 12px;
    background-color: var(--background-color);
    border: 2px solid #424C5D;
    box-sizing: border-box;
    border-radius: 8px;
}