@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --navbar-height: 5.2083vw !important;
    --background-color: #252D3A !important;
    --hover-color: #191F28 !important;
    --bottom-color: #424C5D !important;
    --font-color: #FFFFFF !important;
    --drop-button-color: #535D6D !important;
    --nav-font-size: 0.911vw !important;
    --nav-button-paddingHorizontal: 1.0742vw !important;
    --nav-button-paddingVertical:  1.0416vw !important;
    --noto-sansfont: 'Noto Sans', sans-serif;
    --roboto-sansfont: 'Roboto', sans-serif;
}

.navbar{
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    color: var(--font-color);    
    align-items: center;
    justify-content: space-between;
    padding: 20px 24px 20px 24px;   
    max-height: 80px;
    /* height: var(--navbar-height); */
    
}



.navbar__button{
    padding: 14px 16px 14px 16px ;
    font-size: var(--nav-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: 0.7s;
    font-family: var(--noto-sansfont);
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    margin: 0px 3px;
    letter-spacing: 0.25px;
    transition: all 250ms ease-in; 

}
.navbar__button:hover{
    transition: all 250ms ease-in; 
  
}

.navbar__buttonText{
    font-style: var(--noto-sansfont);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;


    letter-spacing: 0.25px;


    color: #FFFFFF;
}


/* .navbar__space {
    display: flex;
    flex: 0.4;
} */

.navbar__right{
    width: 212px;
    height: 48px;

    justify-content: space-between;
    align-items: center;
    display: flex;
}
.navbar__rightButton{
    /* margin: 0px 12px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 8px 8px; */
    border: 2px solid #707986;
    border-radius: 8px;
    background-color: var(--drop-button-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    width: 164px;
    height: 48px;
}
.navbar__rightButton > p {
    color: var(--font-color);
    margin-left: 6px;
    margin-right: 6px;
}

.navbar__button:hover {
    background-color: var(--hover-color)
}   